<server description="Parqueo Facil Server">
    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>jdbc-4.2</feature>
    </featureManager>

    <library id="MySQLLib">
        <fileset dir="${shared.resource.dir}" includes="mysql-connector-java-8.0.26.jar"/>
    </library>

    <dataSource id="reservasDS" jndiName="jdbc/reservasDS">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties
                databaseName="reservas_db"
                user="root"
                password="yobay"
                serverName="db"
                portNumber="3306"
                useSSL="false"
                allowPublicKeyRetrieval="true"
                useUnicode="true"
                characterEncoding="UTF-8"
                serverTimezone="UTC"
                connectionTimeout="30"
                validationQuery="SELECT 1"
                initialPoolSize="5"
                minPoolSize="5"
                maxPoolSize="20"
                maxIdleTime="300"/>
    </dataSource>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <webApplication location="Parqueo_Facil.war" contextRoot="/"/>
</server>